In [1]:
import pandas as pd
import numpy as np

In [2]:
filepath = open("ratings.csv", 'r')

In [3]:
ratings = pd.read_csv(filepath, header=0, 
                      dtype={'userId':str, 'movieId':str, 'rating':np.float64, 'timestamp':np.int64})

In [4]:
ratings.head()

  userId movieId  rating   timestamp
0      1      31     2.5  1260759144
1      1    1029     3.0  1260759179
2      1    1061     3.0  1260759182
3      1    1129     2.0  1260759185
4      1    1172     4.0  1260759205

In [5]:
type(ratings)

pandas.core.frame.DataFrame

In [6]:
ratings.loc[1]

userId                1
movieId            1029
rating                3
timestamp    1260759179
Name: 1, dtype: object

In [7]:
ratings[['userId', 'rating']].head()

  userId  rating
0      1     2.5
1      1     3.0
2      1     3.0
3      1     2.0
4      1     4.0

In [8]:
ratings[ratings['userId']=='2'].index.tolist()[:10]

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [14]:
ratings[ratings['userId']=='1'][ratings['movieId']=='1172']

/Users/Jerry/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

  userId movieId  rating   timestamp
4      1    1172     4.0  1260759205

In [21]:
value = ratings[(ratings['userId']=='1') & (ratings['movieId']=='1172')]

pandas.core.frame.DataFrame

In [17]:
ratings.at[4,'rating']

4.0

In [23]:
ratings[ratings['userId']=='1'][ratings['movieId']=='1172'].index.tolist()

/Users/Jerry/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

[4]

In [26]:
savefile = 'ratings_x.csv'
ratings.columns = ['userId', 'itemId', 'rating', 'timestamp']
ratings.to_csv(savefile, index=False)